#context-menu {
    position: absolute;
    background: var(--bg-color);
    border-top: 2px solid var(--border-light);
    border-left: 2px solid var(--border-light);
    border-right: 2px solid var(--border-darker);
    border-bottom: 2px solid var(--border-darker);
    padding: 2px;
    min-width: 150px;
    z-index: 10002;
    display: flex;
    flex-direction: column;
}

.context-item {
    padding: 3px 20px;
    font-size: 12px;
    cursor: pointer;
    color: black;
    white-space: nowrap;
}

.context-item:hover {
    background-color: #000080;
    color: white;
}

.context-separator {
    height: 1px;
    background: gray;
    border-bottom: 1px solid white;
    margin: 3px 2px;
}