#desktop {
    width: 100vw;
    height: calc(100vh - 28px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10px;
}

.desktop-icon {
    width: 75px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: white;
    border: 1px solid transparent;
}

.desktop-icon img {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
    pointer-events: none;
}

.desktop-icon span {
    font-size: 12px;
    padding: 1px;
    text-shadow: 1px 1px 1px #000;
    pointer-events: none;
    border: 1px solid transparent;
}

.desktop-icon.selected span {
    background-color: #000080;
    border: 1px dotted #ffff00;
}

.desktop-icon.selected img {
    filter: drop-shadow(2px 2px 0px rgba(0,0,128,0.5));
}

#selection-box {
    position: absolute;
    border: 1px dotted white;
    background-color: transparent;
    pointer-events: none;
    z-index: 9999;
    display: none;
}