#desktop {
    width: 100vw;
    height: calc(100vh - 30px);
    padding: 10px;
}

.desktop-icon {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.desktop-icon img {
    width: 48px;
    height: 48px;
}

.desktop-icon span {
    color: white;
    font-size: 14px;
    text-shadow: 1px 1px 2px black;
    margin-top: 5px;
    padding: 1px 3px;
}

.desktop-icon.selected span {
    background-color: var(--selected-bg);
    color: var(--selected-text);
    border: 1px dotted var(--border-light-color);
}

#selection-box {
    position: absolute;
    border: 1px dotted #FFFFFF;
    background-color: rgba(0, 0, 128, 0.3);
    pointer-events: none;
}