#start-menu {
    position: fixed;
    bottom: 30px;
    left: 0;
    z-index: 9000;
    background-color: var(--bg-color);
    border: 2px solid;
    border-color: var(--border-light-color) var(--border-dark-color) var(--border-dark-color) var(--border-light-color);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    display: flex;
    padding: 2px;
    visibility: hidden;
}

#start-menu.visible {
    visibility: visible;
}

.start-menu-sidebar {
    background-color: var(--inactive-title-bg);
    color: var(--active-title-bg);
    padding: 10px 5px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.start-menu-sidebar span {
    color: var(--text-inverted-color);
}

.start-menu-items {
    display: flex;
    flex-direction: column;
    min-width: 240px;
}

.start-menu-item {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 15px;
}

.start-menu-item:hover {
    background-color: var(--selected-bg);
    color: var(--selected-text);
}

.start-menu-item img {
    width: 28px;
    height: 28px;
    margin-right: 12px;
}

.start-menu-item.disabled {
    color: var(--border-dark-color);
    text-shadow: 1px 1px var(--border-light-color);
    cursor: default;
}

.start-menu-item.disabled:hover {
    background-color: transparent;
    color: var(--border-dark-color);
}

.start-menu-separator {
    height: 1px;
    background-color: var(--border-dark-color);
    border-bottom: 1px solid var(--border-light-color);
    margin: 4px 0;
}